<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App by Burak KUTBAY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




    <style>
        body {
            font-family: "Open Sans", Arial;
        }
    </style>
</head>
<body>
<div style="background: #4dd5e7;">
    <div class="container text-center">
        <h1 style="font-weight: bolder">Todo Application</h1>
        <p style="font-weight: inherit">Burak Kutbay Computer Engineer</p>
    </div>
</div>

<div class="container text-center">
    <hr/>
    <h3>Create Todo</h3>
    <hr/>
    <br>
    <div>
        <form  th:action="@{/add}" method="post">

            <div>
                <div class="col-sm-4">
                    <input type="text" id="title" name="title" th:value="${newtodo.title}" class="form-control" placeholder="Title">
                </div>
                <div class="col-sm-6">
                    <input type="text" id="detail" name="detail" th:value="${newtodo.detail}" class="form-control" placeholder="Detail">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" style="alignment: left!important;">Save</button>
                </div>
            </div>
            <div class="alert alert-success alert-dismissible" th:if="${succesalertdiv}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Todo Save.
            </div>
        </form><br>

    </div>
</div>


<div class="container">
    <hr/>
    <center>
        <h3>My Todos</h3></center>
    <hr/>
    <br>
    <div>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Detail</th>
                <th>Complete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<br><br>
</body>
</html>