<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App by Burak KUTBAY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>

    <style>
        body {
            font-family: "Open Sans", Arial;
        }
    </style>
</head>
<body>
<div style="background: #4dd5e7;">
    <div class="container text-center" style="height: auto">
        <h2 style="font-weight: bolder">Todo Application</h2>
        <p style="font-weight: inherit">Burak Kutbay Computer Engineer</p>
    </div>
</div>

<div class="container text-center">
    <hr/>
    <h3>Create Todo</h3>
    <hr/>
    <br>
    <div>
        <form th:action="@{/}" method="post">

            <div>
                <div class="col-sm-4">
                    <input type="text" id="title" name="title" th:value="${newtodo.title}" class="form-control"
                           placeholder="Title">
                </div>
                <div class="col-sm-6">
                    <input type="text" id="detail" name="detail" th:value="${newtodo.detail}" class="form-control"
                           placeholder="Detail">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" style="alignment: left!important;">Save</button>
                </div>
            </div>
        </form>
        <br>

    </div>
</div>


<div class="container">
    <hr/>
    <center>
        <h3>My Todos</h3></center>
    <hr/>
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" th:attr="aria-valuenow=${percentTask}"
             aria-valuemin="0" aria-valuemax="100" th:style="'width:'+ ${percentTask}+'%;'">
            <span th:text="${percentTask}"/>% Completed Tasks
        </div>
    </div>
    <br>
    <div class="alert alert-success alert-dismissible" th:if="*{ad}" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div>
        <table class="table table-bordered table-striped" id="todos" name="todos">
            <thead>
            <tr>
                <th>Title</th>
                <th>Detail</th>
                <th>Created Date</th>
                <th>Completed Date</th>
                <th>Complete</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todos}">
                <input hidden="hidden" name="id" th:value="${todo.id}"/>
                <td th:text="${todo.title}"><input hidden="hidden" name="title" th:value="${todo.title}"/></td>
                <td th:text="${todo.detail}"><input hidden="hidden" name="detail" th:value="${todo.detail}"/></td>
                <td th:text="${#dates.format(todo.createdDate, 'dd-MM-yyyy HH:mm')}"><input hidden="hidden" name="detail" th:value="${todo.detail}"/></td>
                <td th:text="${#dates.format(todo.completedDate, 'dd-MM-yyyy HH:mm')}"><input hidden="hidden" name="detail" th:value="${todo.detail}"/></td>
                <td><a th:href="@{/update?id=}+${todo.id}" class="btn btn-info" th:if="${todo.complete == false}">Complete
                    Task</a>
                    <a th:href="@{/update?id=}+${todo.id}" class="btn btn-success" th:if="${todo.complete == true}">Task Completed</a></td>
                <td><a th:href="@{/delete?id=}+${todo.id}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<br><br>
<script>

    $(document).ready(function () {
        $('#todos').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [ 0, 1,2,3 ]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [ 0, 1,2,3 ]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [ 0, 1,2,3]
                    }
                }
            ],
            "order": [2,'desc']

        });
    });
</script>
</body>
</html>